@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #4A4A4A;
    font-family: "Inknut Antiqua", serif;
    margin: 0;
    padding: 0;
  }
  
 

  h1{
  
    text-align: center;
    font-size:1rem;
    font-weight: 400;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 5px;
    z-index: 40 !important;
  }
  
  h2{
    font-family: "Inknut Antiqua", serif;
    text-align: center;
  }

  .header {
    padding: 20px;
   
  }

  .Ellipse{
    margin:-20px 0 0 -20px ;
    position: absolute;
    width:250px;
    z-index: -2;
  }


.hero {
  z-index: 40 !important;
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 100%;
  margin-top: 80px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%; 
}

.slide {
  flex-shrink: 0;
  width: 100%;
}

.slide img {
  width: 1150px;
  height: 500px;
  object-fit: cover;
  object-position: center;
}


.indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: #007BFF;
}

  
  .Especialidades {
    padding: 20px;
    background: #F9F9F9;
  }
 
  
  .Especialidad-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .Especialidad {
    text-align: center;
  }
  .especialidad-text{
    width: 150px;
  }
  
  .Especialidad img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .sobre-mi {
    padding: 20px;
  }
  
  .sobre-mi-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .sobre-mi-text{
    max-width: 30%;
    text-align: justify;
  }
  
  .sobre-mi-content img {
    width: 350px;
    height: auto;
  }

  .info{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .evento img {
    width: 100%;
    max-width: 900px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .patrocinadores {
    text-align: center;
    padding: 20px;
    background: #F5F5F5;
  }
  
  .logos img {
    margin: 10px;
    max-height: 60px;
  }
  
  .contacto {
    padding: 20px;
    background: #17346A; 
    color: white;
    text-align: center;
  }
  
  .contacto-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contacto .social a img {
    width: 30px;
    margin: 5px;
  }


  @media only screen and (min-width: 1024px)
  {
    .slide img {
      max-width: 35%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }
    
  }